<p>
  technology works!
</p>

<!-- <ckeditor
    [(ngModel)]="mycontent"
    [config]="{}"
    (change)="onChange($event)"
    (ready)="onReady($event)"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    debounce="500">
  </ckeditor> 
[(ngModel)]="mycontent" 
              #myckeditor="ngModel"
  -->

    <ckeditor name="myckeditor"
              required
              [config]="ckeConfig" 
              debounce="500">
    </ckeditor>

<canvas id="myChart" width="400" height="400"></canvas>