<div class="container">

  <div class="panel panel-default">
    <div class="panel-body">

              <div>
                <toaster-container  [toasterconfig]="config1"></toaster-container>
                <button  type="button" class="btn btn-success" (click)="popMeUp()">pop toast</button>
              </div>

      </div>
    </div>


<br><br>

    <div class="panel panel-default">
      <div class="panel-body">
        <editor [init]="{plugins: 'link'}"></editor>
      </div>
    </div>

<br><br>


    <div class="panel panel-default">
      <div class="panel-body">

        <button (click)="updateMap(-31.9505,115.8605)">Go To Perth</button>
        <button (click)="updateMap(-33.8688,151.2093)">Go To Sydney</button>
        <button (click)="reset()">Reset</button>  


        <div #map style="height:400px;width:400px"></div>

      </div>
    </div>


<br><br>

</div>